name: Project Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.version }}
          cache: pip
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install .
          go install github.com/nyaruka/goflow/cmd/flowrunner@6b877f0
      - name: Linux/macOS Setup Go environment variables
        if: runner.os == 'Linux' || runner.os == 'macOS'
        run: |      
          # Check if the binary exists
          ls -l "$(go env GOPATH)/bin/flowrunner"
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV

      - name: Windows Setup Go environment variables
        if: runner.os == 'Windows'
        run: |
          # Check if the binary exists
          ls -l "$(go env GOPATH)/bin/flowrunner.exe"
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
      - name: Run unit tests
        run: python -m unittest discover -s tests
